@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


a {
  color: inherit;
  text-decoration: none !important;
}

.font-dm-sans {
  font-family: 'DM Sans', sans-serif;
}

.font-raleway {
  font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'DM Sans', sans-serif;
}

p,
button,
a,
input,
select,
option,
span,
ul,
li {
  font-family: 'Raleway', sans-serif !important;
}

.numberStyle {
  font-size: 12px;
  color: #ffffff62;
  line-height: 12px;
  transition: color 0.5s ease;
  cursor: pointer;
}

.nav-item {
  font-size: 15px !important;
  font-weight: 600 !important;
  transition: color 0.5s ease;
}

.nav-link {
  font-size: 15px !important;
  font-weight: 600 !important;
  transition: color 0.5s ease;
}

.numberStyle:hover .nav-link {
  color: #d90a2c !important;
}

.nav-item:hover .numberStyle,
.nav-item:hover .nav-link {
  color: #d90a2c !important;
}

.nav-item:hover,
.nav-item:active,
.nav-item:focus,
.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  color: #d90a2c !important;
}

.red-font {
  color: #d90a2c;
}

.s-space {
  padding-left: 100px !important;
}

.hero {
  z-index: 8;
}

.hero p {
  font-size: 16px;
  font-weight: 500;
}

.hero h2 {
  font-size: 63px;
  font-weight: 700;
}

.hero button {
  background-color: transparent;
  color: #fff;
  border: none;
  width: max-content;
  border-radius: 4px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.hero button:hover {
  background-color: #2929294f;
  color: #fff;
}


/* hero bg */
.hero-image-bg {
  position: relative;
  width: 80% !important;
  height: 55vh !important;
  z-index: 4;
}

.hero-image-bg-image {
  position: relative;
  width: 80% !important;
  height: 55vh !important;
  z-index: 3;
}

.hero-image-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 3;
}

.hero-image-bg>img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 3;
}


/* hero bg text */
.hero-image-bg-text {
  width: 100vw;
  height: 300px;
  background-color: transparent;
  color: #1d1d1d52;
  z-index: 2;
  font-size: 180px;
  font-weight: 800;
  overflow: hidden;
}

/* dot patterns */
.dot-pattern {
  width: 650px;
  height: 250px;
  background-color: transparent;
  z-index: 7;
  pointer-events: none !important;
}

.dot-pattern::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: radial-gradient(circle, #363636e0 4%, transparent 10.01%);
  background-size: 30px 30px;
}

#homeSlider .swiper-wrapper {
  width: 100vw !important;
  height: 100vh !important;
}

.slidePosition {
  width: 2vw !important;
  position: absolute;
  right: 0px !important;
  background-color: transparent;
  z-index: 999999;
  pointer-events: none;
}

.wrap-button {
  height: 20vh !important;
  width: 40px !important;
}

.slide-number {
  font-weight: 500;
  background-color: transparent !important;
  border: none;
  width: 40px !important;
  height: 20vh !important;
  color: #fff;
}

#homeSlider .swiper-button-prev {
  margin-left: 88vw !important;
  margin-top: 38vh !important;
}

#homeSlider .swiper-button-next {
  margin-right: 3vw !important;
  margin-top: 38vh !important;
}

.activeButton {
  background-color: #ff0000 !important;
}

.navbarWidth {
  width: 98vw !important;
}

#homeSlider .swiper-pagination {
  position: absolute !important;
  left: 98vw !important;
  top: 0 !important;
  text-align: center !important;
  width: 2vw !important;
  height: 100vh !important;
  background-color: #0000006b !important;
  display: flex;
  flex-direction: column;
  padding: 0 !important;
  z-index: 99999;
}

#homeSlider .swiper-pagination-bullet {
  background-color: transparent !important;
  width: 100% !important;
  height: 20vh !important;
  border-radius: 0px !important;
  margin: 0 !important;
}

#homeSlider .swiper-pagination-bullet-active {
  background-color: #0000009a !important;
  width: 100% !important;
  height: 20vh !important;
  border-radius: 0px !important;
  margin: 0 !important;
}


#homeSlider .swiper-button-prev {
  /* background-image: url("/imgs/prev-light-arrow.png") !important; */
  /* background-image: url("/imgs/prev-light-arrow.png") !important; */
  background-position: center;
  background-size: cover;
  width: 40px !important;
  height: 40px !important;
}

#homeSlider .swiper-button-next {
  /* background-image: url("/imgs/next-light-arrow.png") !important; */
  /* background-image: url("/imgs/next-light-arrow.png") !important; */
  background-position: center;
  background-size: cover;
  width: 40px !important;
  height: 40px !important;
}

#homeSlider .swiper-button-prev:after,
#homeSlider .swiper-rtl .swiper-button-next:after,
#homeSlider .swiper-button-next:after,
#homeSlider .swiper-rtl .swiper-button-prev:after {
  display: none !important;
}


.bg-image {
  background-image: url('/imgs/contact-main-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 75vh;
}

.red-button {
  background-color: #d90a2c;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  height: max-content;
  width: max-content;
  border: none;
}

.agency h2 {
  font-size: 60px;
}

.agency p {
  font-size: 18px;
  font-weight: 500;
}

.left-right-space {
  padding-left: 100px !important;
  padding-right: 100px !important;
}

.space-section {
  height: 75vh;
}

.contact p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.social-links,
.links-style {
  color: #919191;
  font-weight: 700;
  font-size: 16px;
  transition: color 0.5s ease;
}

.links-style {
  color: #919191;
  font-weight: 500;
  font-size: 15px;
  transition: color 0.5s ease;
}

.footer-text {
  font-size: 15px;
  font-weight: 500;
}

.social-links:hover,
.links-style:hover {
  color: #d90a2c;
}

.contact-form label {
  font-size: 14px;
  font-weight: 400;
  font-family: 'DM Sans', sans-serif;
  margin-bottom: 8px;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  background-color: #61616133;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
}

.contact-form input:focus,
.contact-form select:focus,
.contact-form textarea:focus {
  outline: none !important;
}

.contact-form button {
  width: max-content;
  height: max-content;
  background-color: #313131;
  color: #fff;
  font-weight: 700;
  font-family: 'DM Sans', sans-serif;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.contact-form button:hover,
.contact-form button:active,
.contact-form button:focus {
  background-color: #d90a2c !important;

}

.form-checkbox {
  background-color: transparent !important;
  color: transparent !important;
  transition: background-color 0.5s ease;
}

.form-checkbox:active {
  background-color: #d90a2c !important;
}

.footer-sec-2 h3 {
  font-size: 16px;
  font-weight: 500;
}

.footer-sec-2 p {
  font-size: 14px;
  font-weight: 400;
}

.conatct-btn {
  width: max-content;
  height: max-content;
  background-color: #d90a2c;
  color: #fff;
  font-weight: 500;
  font-family: 'DM Sans', sans-serif;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.conatct-btn:hover {
  background-color: #313131;
}

.footer-sec-1 {
  background-color: #131313;
}

.footer-sec-1 h4 {
  font-weight: 600;
  font-size: 16px;
  color: #666666;
}

.footer-sec-1 h2 {
  font-weight: 600;
  font-size: 50px;
  color: #b9b9b9;
}

.footer-sec-1 p {
  font-weight: 500;
  font-size: 16px;
  color: #b9b9b9;
}

.hr-footer {
  color: #b9b9b9 !important
}



.services-styles h3 {
  font-size: 20px;
  font-weight: 500;
}

.services-styles p {
  font-size: 15px;
  font-weight: 400;
}

.icon-style {
  font-size: 30px;
}



.product-img-style {
  border-radius: 8px;
}

.product-col {
  background-color: #33333338;
  border-radius: 8px;
}

.process-styles h3 {
  font-size: 30px;
  font-weight: 500;
}

.process-styles p {
  font-size: 15px;
  font-weight: 400;
}

.process-styles span {
  font-size: 12px;
  font-weight: 500;
}

.testimonials-styles h3 {
  font-size: 15px;
  text-transform: uppercase;
  color: #5f5f5f;
  font-weight: 700;
}

.testimonials-styles h2 {
  font-size: 32px;
  font-weight: 700;
}

#testimonialsSlider {
  position: relative !important;
}

#testimonialsSlider .swiper-button-prev {
  background-image: url("/imgs/prev-light-arrow.png") !important;
  background-position: center;
  background-size: cover;
  width: 30px !important;
  height: 30px !important;
  position: absolute !important;
  bottom: 0 !important;
  right: 50px !important;
}

#testimonialsSlider .swiper-button-prev,
#testimonialsSlider .swiper-rtl .swiper-button-next {
  left: auto !important;
  top: auto !important;
}

#testimonialsSlider .swiper-button-next {
  background-image: url("/imgs/next-light-arrow.png") !important;
  background-position: center;
  background-size: cover;
  width: 30px !important;
  height: 30px !important;
  position: absolute !important;
  bottom: 0 !important;
  right: 0 !important;
}

#testimonialsSlider .swiper-button-next,
#testimonialsSlider .swiper-rtl .swiper-button-prev {
  left: auto !important;
  top: auto !important;
}

#testimonialsSlider .swiper-button-prev:after,
#testimonialsSlider .swiper-rtl .swiper-button-next:after,
#testimonialsSlider .swiper-button-next:after,
#testimonialsSlider .swiper-rtl .swiper-button-prev:after {
  display: none !important;
}

.round-image {
  border-radius: 50% !important;
}


.testimonial-slider-style p {
  font-weight: 400;
  font-size: 17px !important;
}

.testimonial-slider-style h2 {
  font-weight: 700;
  font-size: 16px !important;
}

.testimonial-slider-style h3 {
  font-weight: 400;
  font-size: 15px !important;
  color: #5f5f5f !important;
}

.slideline {
  width: 60px;
  height: 2px;
  background-color: #fff;
}

.img-height {
  height: 60vh !important
}

.height-75 {
  height: 70vh !important;
}

.social-icon-team {
  border: solid 1px #707070;
  padding: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 25px;
  text-align: center;
  line-height: 25px;
  color: #707070;
}


.sticky-sidebar {
  position: fixed !important;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999999;
}

.sticky-sidebar-mobile {
  position: fixed !important;
  right: 0;
  top: 50%;
  z-index: 9999999;
}


.nav-item.active a,
.nav-item.active span {
  color: #d90a2c !important;
}



/* mobile navbar */
.mobileNav {}

.navbarDrawer {

  height: 100vh;
  width: 90vw;
  position: absolute;
  top: 0;
  left: 0;
  /* left: -100%;
  animation-duration: 0.3s;
  animation-timing-function: ease;  */
}

.closeNavMobile {
  background-color: transparent !important;
  border: none !important;
  font-size: 30px;

}




@keyframes waving {
  0% {
    transform: scale(1);
    opacity: 0.8;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  100% {
    transform: scale(2);
    opacity: 0;
    box-shadow: 0 0 0 100px rgba(255, 255, 255, 0);
  }
}

.waveEffect {
  animation: ring  1s infinite;
}

.hoverEffect {
  animation-play-state: paused;
}



@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.fadeInUp-animation {
  animation: 1.5s fadeInUp;
}

@media screen and (max-width: 992px) {
  .bg-image {
    height: 60vh !important;
  }
  #homeSlider .swiper-pagination {
    left: 90vw !important;
    width: 10vw !important;
  }

  .slide-number {
    width: 10vw !important;
    text-align: center !important;
  }

  .wrap-button {
    height: 20vh !important;
    width: 10vw !important;
  }

  .slidePosition {
    width: 10vw !important;
  }

  .left-right-space {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .s-space {
    padding-left: 20px !important;
  }

  #homeSlider .swiper-button-prev {
    margin-top: 40vh !important;
    margin-left: 2vw !important;
  }

  #homeSlider .swiper-button-next {
    margin-top: 40vh !important;
    margin-right: 70vw !important;
  }

  .height-75 {
    height: 100vh !important;
  }

  .hero-image-bg {
    width: 100% !important;
  }

  .hero-image-bg-image {
    width: 100% !important;
  }

  .hero h2 {
    font-size: 40px;
  }

  .img-height {
    height: auto !important;
  }
}



/* .trail-cursor {
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: #ff0000;
  border-radius: 50%;
  pointer-events: none; 
  animation: trail 0.5s infinite;
}

@keyframes trail {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
} */

.container-ring-icon{
  width: max-content;
  height: max-content;
}
.circle{
  border-radius: 50%;
  background-color: transparent !important;
  animation: trail 0.9s infinite;
  width: 50px !important;
  height: 50px !important;
  background-color: #d6d6d646 !important;
  z-index: 11;
}
.icon-play-ring {
  position: relative;
}
.circle:hover{
  animation-play-state: paused !important;
}
@keyframes trail {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}





.arrow {
  width: 20px;
  height: 20px;
  transform: translate(0, 0%);
  transition: right 1s linear;
}

.arrow:hover {
  right: -50% !important;
}

@keyframes slideRight {
  0% {
    right: -50px !important;
  }
  100% {
    right: 100% !important;
  }
}
