.container_fullpage {
  width: 100vw;
  min-height: 100vh;
  height: auto;
}

.toggleButtonSize {
  width: 100px;
  height: 30px;
  text-orientation: upright;
  border-radius: 30px;
  margin-left: -20px;
  border: solid 1px #747474;
  transform: rotate(-90deg);
  transform-origin: center;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.toggleButtonSizeMobile {
  width: 100px;
  height: 40px;
  text-orientation: upright;
  border-radius: 30px;
  margin-left: -10px;
  margin-top: 90px;
  border: solid 1px #747474;
  transform-origin: center;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.talkButtonSize {
  width: max-content;
  height: 36px;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  color: #fff;
}
