.container {
    background-color: #fff;
    color: #000;
}

.themeToggleButton {
    background-color: #fff;
    color: #000;
}

.talkButton {
    background-color: #d90a2c;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.txtColor{
    color:#000
}
.heroButton{
    color: #000 !important;
}
.heroImageBg{
    background: linear-gradient(to right, rgb(255, 255, 255), rgba(0, 0, 0, 0)), url('/imgs/hero-img-bg.jpeg');
}