.container {
    background-color: #fff;
    color: #161519;
}

.themeToggleButton {
    background-color: #fff;
    color: #161519;
}

.talkButton {
    background-color: #d90a2c;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.txtColor{
    color:#161519
}
.heroButton{
    color: #161519 !important;
}
.heroImageBg{
    background: linear-gradient(to right, rgb(255, 255, 255), rgba(0, 0, 0, 0)), url('/imgs/hero-img-bg.jpeg');
}

.swiper-button-prev {
    background-image: url("/imgs/prev-dark-arrow.png") !important;
    background-position: center;
    background-size: cover;
    width: 40px !important;
    height: 40px !important;
  }
  
  .swiper-button-next {
    background-image: url("/imgs/next-dark-arrow.png") !important;
    background-position: center;
    background-size: cover;
    width: 40px !important;
    height: 40px !important;
  }

  .sliderbg{
    background-color: #ffffff;
  }